<!doctype html>
<html>
  <head>
    <title>This Is Kind Of Sus</title>
    <meta charset="utf-8"/>

    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/feed.css">

  </head>
  <body>
    <header>
      <!--Site Name-->
      This is a little bit sus
      <!--MyMarist Portal-->
      <div id="portal_button">
        <img id="sus" src = "images/sus.png">aidan is among us imposter ngl</img>
        
            </div>
    </header>
    <main>
      <div id="newsfeed"><strong>Feed will go here</strong>(sus feed)<br></div>
            
    </main>
    <footer>
      <p id="site_info">Copyright &copy; 2020: Marist College est. 1929</p>
    </footer>

  </body>

  <script src="/js/global.js"></script>
  <script src="/js/feed.js"></script>

</html>
